@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(images/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
.main-doc{
   padding: 15px ;
  text-align: justify;
  padding-left: 1100px ;
  padding-top: 100px ;
  background: url(images/cbg.jpg) no-repeat;
  transition: all .5s;
  height: 50vh ;
background-position: center;
}
.table{
  padding: 15px ;
 text-align: justify;
 padding-left: 275px ;
 padding-top: 50px ;
 /* background: url(images/cbg.jpg) no-repeat; */
 transition: all .5s;
 height: 50vh ;
background-position: bottom;
}
/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
} */

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.img{
  padding-left: 250px
   ;
   height: auto;
   width: 500px ;
}
.res{
  padding-left: 550px
   ;
   padding-bottom: 5px ;
}
header h1 {
    margin-top: 20%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 20%  ;
}

table {
    margin-top: 2%;
    width: 80% ;
    border: 1px solid black;
    height: 300px;
    margin-left: 10%;
}

td {
    text-align: center;
    border: 1px solid black;
}

#blank {
    color: #000;
    background-color: #fff;
}

#s {
    font-weight: 800;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #ffffff;
}

#seminar {
    font-weight: 800;
    font-family: sans-serif;
    background-color: #ffffff;
    text-transform: uppercase;
}

#sub {
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}

#sub1 {
    background-color: #fff;
}

#sub2 {
    color: black;
    text-transform: uppercase;
    background-color: #ffffff;
}

#sub3 {
    background-color: #ffffff;
    font-family: sans-serif;
    font-weight: 800;
}

#box1 {
    color: cornflowerblue;
    font-family: sans-serif;
    font-weight: 800;
}

#box2 {
    color: darkorange;
    font-weight: 800;
    font-family: sans-serif;
}

#box3 {
    color: darkviolet;
    font-weight: 800;
    font-family: sans-serif;
}

#box4 {
    color: green;
    font-weight: 800;
    font-family: sans-serif;
}

#box5 {
    color: red;
    font-family: sans-serif;
    font-weight: 800;
}

#box6 {
    color: hotpink;
    font-weight: 800;
    font-family: sans-serif;
}

#box7 {
    color: blue;
    font-family: sans-serif;
    font-weight: 800;
}
